.title {
  opacity: 0;
  transition: opacity 2s;
}

.hidden {
  position: relative;
  opacity: 0;
  transition: ease 3s;
}

.hiddenSlow {
  opacity: 0;
  transition: opacity 3s;
}

.appear {
  opacity: 1;
  transform: translateY(0px);
}
